/*layout.css*/

@font-face {
  font-family: 'info';
  src: url(fonts/FrenteH1-Regular.otf) format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'curvy';
  src: url(fonts/Lavanderia-Delicate.otf) format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'blockish';
  src: url(fonts/MinionPro-Regular.otf) format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


* {
    font-family: info;
    color: rgb(61,64,57);
  }

body {
	display: block;
	margin: 0px;
	background-color: fffeff;
}

div {
	/*border: 1px dashed #DDD;*/
}


.nav {cursor: pointer;}

.hiddenContent {
	display: none;
}

.centered{
	margin: 0 auto !important;
}

.center-text{
	text-align: center!important;
}

.noFloat {
	float:none!important;
}

.currentPage{
	border-width:5px;	
    border-bottom-style:inset;
	border-bottom-color: rgb(237,222,201) !important;
}

.struct {
	margin-left: 2%;
}

.top{
	position: absolute;
	height: 120px;
	top: 0px;
	margin-top: 5px;
	width:98%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bism{
	top: 0%;
	height: 120px;
	width: 120px;
	clear: both;
	
	background: url(img/786_gold.png);
	background-repeat: no-repeat;
	background-size: contain;
}

 .divider{
	height: 2px;
	background:rgb(61,64,57);
}

.info {
	font-family: info;
	/*font-weight: 400;*/
	font-size: 2em;
	color: rgb(61,64,57);
	overflow: hidden;
	margin-right: 2px;
	vertical-align: middle;
	}

.cursive {
	font-family: curvy;
	/*font-weight: 400;*/
	font-size: 1.8em;
	color: rgb(61,64,57);
	overflow: hidden;
	/*margin-right: 2px;*/
	vertical-align: middle;
	text-align: center;
	}

.blockish {
	font-family: blickish;
	/*font-weight: 400;*/
	font-size: 2em;
	color: rgb(61,64,57);
	overflow: hidden;
	margin-right: 2px;
	vertical-align: middle;
	}

#welcomeText {
	padding-left: 10px;
	padding-right: 2%;
}

/* grid */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.navItem:last-of-type {
	margin-right: 0;
}

[class*="col-"] {
  padding: 8px;
  margin-left, margin-right: auto;
}

[class*="col-"]:last-of-type {
  margin-bottom: 10%;
}


@media all and ( max-width: 800px ) {

  .row {
	height: 100px;
	/*display: flex;*/
	box-sizing: border-box;
	}

  .col-2-3 {
    width: 80%;
    float: left;
  }
  
  .col-1-2 {
    float: left;
    width: 40%;
  }
  
  .col-1-3 {
    width: 80%;
    margin-left: auto;
	margin-right: auto;
  }
  
  .col-1-4 {
    float: left;
    width: 40%;
  }

  .col-1-4:nth-child(2n+1) {
    clear: both;
  }
  
  .col-1-5 {
    float: left;
    width: 33.33%;
  }
  
  .col-1-5:nth-child(3n+1) {
    clear: both;
  }

  .side{
	position: fixed;

	background: url(img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-color:rgba(0, 0, 0, 0.5);
	
	height: 100%;
	width: 75px;
	opacity: 0.75;
  }

  #right{
	position: fixed;
	right: 0px;
	z-index: -100;
	bottom: 0;
	top: 120;
	width: 133px;
	background: url(img/pattern.png);
	/* background-repeat: no-repeat; */
	background-size: 360%;
	background-position: 0 120%;
	opacity: 0.75;
  }

  .struct + .struct {
    padding-top: 10px;
	padding-left: 90px;
  }

  .navItem {
  	font-family: blockish;
	font-weight: 600;
	font-size: 1.25em;
	color: rgb(61,64,57);
	text-align: center;
	overflow: hidden;
	align-content: center;
	margin-right: 2px;
	vertical-align: middle;
	cursor: pointer;
	}


  .resp_div{
  	height: 1px;
	background:rgb(61,64,57);
	margin: -2px 12% 5px 6%;
	}

  .main{
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-right: 8%;
	padding-top: 0px!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

  .nonMobile {
  	display: none;
  }

  .bigFirst {
  	font-weight: heavy;
  }

}

@media all and ( min-width: 801px ) {
 
  .row {
	height: 52px;
	/*display: flex;*/
	box-sizing: border-box;
	margin-bottom: 10px;
	}

  .col-2-3 {
    float: left;
    width: 85%;
  }
  .col-1-2 {
    float: left;
    width: 45%;
  }
  .col-1-3 {
    float: left;
    width: 28%;
  }

  /*.col-1-3:nth-child(4) {
    clear: both;
  }*/

  .col-1-4 {
    float: left;
    width: 18%;
  }
  .col-1-5 {
    float: left;
    width: 15%;
  }

  .side{
	position: fixed;

	background: url(img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100%;
	width: 150px;
	opacity: 0.75;
  }

  #right{
	position: fixed;
	right: 0px;
	z-index: -100;
	bottom: 0;
	top: 120;
	width: 250;
	background: url(img/pattern.png);
	/* background-repeat: no-repeat; */
	background-size: 192%;
	background-position: 0 120%;
	opacity: 0.45;
  }

  .struct + .struct {
    padding-top: 25px;
	padding-left: 170px;
  }

  .navItem {
	font-family: blockish;
	font-weight: 600;
	font-size: 1.25em;
	color: rgb(61,64,57);
	text-align: center;
	overflow: hidden;
	align-content: center;
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
	}

 .resp_div{
	/*height:10px;*/
	height: 1px;
	background:rgb(109,112,106);
	margin: 5px 30% 5px 10%;
	}

  .main{
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-right: 200px;
	padding-top: 0px!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

  /*.bigFirst {
  	font-size:4em
  }*/

  .bigFirst::first-letter { 
	font-size:200%;
	color:#000;
	}
  .card_container {
  	height: 226px;
  }


}
 
