/*layout.css*/


/*fonts*/
body {
    font-family: info;
    color: rgb(61,64,57);
	
  }

p {
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.4em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

.center-text{
	text-align: center!important;
}

.info {
	font-family: info;
	/*font-weight: 400;*/
	font-size: 2em;
	/*line-height: 1em;*/
	margin-right: 2px;
	vertical-align: middle;
	overflow: hidden;
	}

.cursive {
	font-family: curvy;
	/*font-weight: 400;*/
	font-size: 2em;
	/*line-height: 1em;*/
	vertical-align: middle;
	overflow: hidden;
	}

.blockish {
	font-family: blockish;
	/*font-weight: 400;*/
	font-size: 1.5em;
	/*line-height: 1em;*/
	margin-right: 2px;
	vertical-align: middle;
	overflow: hidden;
	}

.blockish-small{
	font-family: blockish;
	/*font-weight: 400;*/
	font-size: 1.2em;
	margin-right: 2px;
	vertical-align: middle;
	overflow: hidden;
	}

.bigFirst::first-letter { 
	font-size:200%!important;
	}

.biggerFirst::first-letter { 
	font-size:250%!important;
	}

.cursiveFirst::first-letter{
	font-family: curvy!important;
}

.heavy {
	font-weight: bold;
}


/*layout*/

body {
	display: block;
	margin: 0px;
	background-color: fffeff;
}

.lightBorder {
	border-bottom: 1px solid rgb(237,222,201);
}

.linked:hover {
	border-bottom: 3px solid rgb(237,222,201)!important;
	color: #847A22!important;
	cursor: pointer;
}

.linked:active {
	background-color: #EBEBEB;
}

.navItem:hover {
	border-bottom: 3px solid rgb(237,222,201)!important;
	color: #847A22!important;
}


.hiddenContent, #main_content {
	display: none;
}

.centered{
	margin: 0 auto !important;
}

.noFloat {
	float:none!important;
}

.currentPage{
	border-width:3px;	
    border-bottom-style:inset;
	border-bottom-color: rgb(61,64,57) !important;
}

.struct {
	margin-left: 2%;
}

.top{
	position: absolute;
	height: 120px;
	top: 0px;
	margin-top: 5px;
	width:98%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bism{
	top: 0%;
	height: 120px;
	width: 120px;
	clear: both;
	
	background: url(img/786_gold.png);
	background-repeat: no-repeat;
	background-size: contain;
}


.barnpic{
	display: block;
	height:240px;
	margin-right: 2px;
}
#barn1{
	background: url(img/barn1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

#barn2{
	background: url(img/barn1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

#barn3{
	background: url(img/barn1.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}

input, input[type="password"], input[type="search"] {
	-webkit-appearance: textfield;
	border: 1px solid rgb(237,222,201);
	padding: 2px;
	cursor: auto;
}

input:focus{
	border: 1px solid rgb(61,64,57);
	outline: 0;
}

.to-link {
	cursor:pointer;
}


.clearfix {
  content: "";
  display: table;
  clear: both;
}

.navItem:last-of-type {
	margin-right: 0;
}

[class*="col-"] {
  padding: 8px;
  margin-left, margin-right: auto;
}

/*[class*="col-"]:last-of-type {
  margin-bottom: 10%;
}*/


/*phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .nonMobile {
  	display: none;
  }

  .mediumMobile {
	font-size: 1.5em!important;
  }

  .smallMobile {
	font-size: 1em!important;
  }
  .small {
	font-size: 1.5em!important;
	}

  .smaller {
	font-size: 75%!important;
	}

  .big {
	font-size: 200%!important;
	}

  .bigger {
	font-size: 200%!important;
	}

  .row {
	height: 100px;
	/*display: flex;*/
	box-sizing: border-box;
	}

  .col-2-3 {
    width: 91%;
    float: left;
    margin-right: 2px;
  }
  
  .col-1-2 {
    float: left;
    width: 91%;
    margin-right: 2px;
  }
  
  .col-1-3 {
    width: 91%;
    margin-left: auto;
	margin-right: auto;
  }
  
  .col-1-4 {
    float: left;
    width: 40%;
  }

  .col-1-4:nth-child(2n+1) {
    clear: both;
  }
  
  .col-1-5 {
    float: left;
    width: 60%;
  }
  
  .col-1-5:nth-child(n+1) {
    clear: both;
  }

  .side{
	position: fixed;

	background: url(img/_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100%;
	width: 75px;
  }

  #right{
	position: fixed;
	right: 0px;
	z-index: -100;
	bottom: 0;
	top: 120px;
	width: 133px;
	background: url(img/_pattern.png);
	background-repeat: no-repeat; 
	background-size: 100%;
	/*background-position: 0 120%;*/
	/*opacity: 0.75;*/
  }

  .struct + .struct {
    padding-top: 10px;
	padding-left: 90px;
  }

  .navItem {
  	font-family: blockish;
	font-size: 1em;
	font-weight: bolder;
	color: rgb(61,64,57);
	text-align: center;
	overflow: hidden;
	align-content: center;
	margin-right: 2px;
	vertical-align: middle;
	cursor: pointer;
	}


  .resp_div{
  	height: 1px;
	background:rgb(237,222,201);
	margin: -2px 12% 5px 6%;
	}

  .main{
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-right: 8%;
	padding-top: 0px!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

	.pwBox{
		padding-left:30px;
		height: 1em;
	}

	#pw_box{
		margin-top: -60px;
	}

	#pw_attempt{
		display: inline-block;
		width: 132px;
		height: 103%;
		vertical-align: middle;
	}
	#submit{
		display: inline-block;
		margin-top: -4px;
		cursor: pointer;
		/*border-bottom: 1px solid rgb(61,64,57);*/
	}

	#submit:hover{
		border-bottom: 2px solid rgb(61,64,57);
		font-weight: 500;
	}

	#try_again{
		display: none;
		padding-left: 134px
	}

}

/*desktop*/
@media all and ( min-width: 961px ) {
  .small {
	font-size: 1.5em!important;
	}

  .smaller {
	font-size: 75%!important;
	}

  .big {
	font-size: 200%!important;
	}

  .bigger {
	font-size: 300%!important;
	}

  .row {
	height: 52px;
	/*display: flex;*/
	box-sizing: border-box;
	margin-bottom: 10px;
	}

  .col-2-3 {
    float: left;
    width: 90%;
    margin-right: 2px;
  }
  .col-1-2 {
    float: left;
    width: 45%;
    margin-right: 2px;
  }
  .col-1-3 {
    float: left;
    width: 28%;
  }

  /*.col-1-3:nth-child(4) {
    clear: both;
  }*/

  .col-1-4 {
    float: left;
    width: 21%;
  }
  .col-1-5 {
    float: left;
    width: 30%;
  }

  .side{
	position: fixed;

	background: url(img/_background.png);
	background-repeat: no-repeat;
	background-size: cover;
	
	height: 100%;
	width: 150px;
	/*opacity: 0.75;*/
  }

  #right{
	position: fixed;
	right: 0px;
	z-index: -100;
	bottom: 0;
	top: 120px;
	width: 250px;
	background: url(img/_pattern.png);
	background-repeat: no-repeat;
	background-size: 65%;
	background-position: 105% 0%;
	/*opacity: 0.45;*/
  }

  .struct + .struct {
    padding-top: 25px;
	padding-left: 170px;
  }

  .navItem {
	font-family: blockish;
	font-size: 1.1em;
	font-weight: bold;
	color: rgb(61,64,57);
	text-align: center;
	overflow: hidden;
	align-content: center;
	margin-right: 5px;
	vertical-align: middle;
	cursor: pointer;
	}

 .resp_div{
	/*height:10px;*/
	height: 1px;
	background:rgb(237,222,201);
	margin: 5px 30% 5px 10%;
	}

  .main{
	position: absolute;
	top: 120px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin-right: 100px;
	padding-top: 0px!important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}

 
  .card_container {
  	width: 100%;
  	display: table;
  	overflow: overlay;
  }
	#pw_attempt{
		display: inline-block;
		width: 132px;
		height: 103%;
		vertical-align: middle;
	}
	#submit{
		display: inline-block;
		margin-top: -4px;
		cursor: pointer;
		/*border-bottom: 1px solid rgb(61,64,57);*/
	}

	#submit:hover{
		border-bottom: 2px solid rgb(61,64,57);
		font-weight: 500;
	}

	#try_again{
		display: none;
		padding-left: 134px
	}

	.pwBox{
		padding-left:50px;
		height: 1em;
	}

}
 
