<html>
    <head>
        <meta charset="utf-8">
        <title>Hello!</title>
<!--         <title>{% if pgtitle %}{{pgtitle}}{% else %}Scenario Manager{% endif %}</title> -->
<!--         <link rel="stylesheet" type="text/css" href="{% static 'smcore/stylesheets/styles.css' %}" />
        <link rel="shortcut icon" href="{% static 'images/favicon_2.ico' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="{% static 'smcore/font-awesome.min.css' %}" />
        <script src="{% static 'smcore/jquery-latest.js' %}"></script>
        {% block head %}{% endblock %} -->
        <link rel="stylesheet" type="text/css" href="style.css" />
        <!-- <link rel="stylesheet" type="text/css" href="src/desktop.css" /> -->
        <!-- <link rel="stylesheet" type="text/css" href="src/typography.css" /> -->
        <link rel="shortcut icon" type="image/png" href="favicon_2.ico" />
        <script src="src/jquery-latest.js"></script>
        <script src="src/jquery.stellar.js"></script>
        <script src="src/d3.v3.js"></script>
    </head>
    <body>
        <div class="wrapper"> <!-- data-stellar-offset-parent="true"> -->
            
            <!-- <div id="welcomeBanner" class="centered">
                <div id="welcomeImg" class="inline-block"><img src="/img/sm.png"></div>
                <div id="welcomeMessage" class="inline-block">
                    YOU'RE HERE BECAUSE WE LOVE YOU
                </div>
            </div> --> <!-- welcomeBanner -->

            <div id="parallaxSet">
                
                <div data-stellar-ratio="0" class="plaxItem">Boy meets girl.</div>
                <div data-stellar-ratio="1.9" class="plaxItem">They talk. They laugh.</div>
                <div data-stellar-ratio="2" class="plaxItem">They become friends</div>
                <div data-stellar-ratio="2.5" class="plaxItem">thgen stuff happened</div>
                <div data-stellar-ratio="2" class="plaxItem">the end?</div>
                

            </div><!-- parallaxSet

            <!-- <div id="navSet" class="top-padding bottom-padding"> -->
                
                <!-- <div id="navBar" class="centered">
                    <div class="navItem">Why</div>
                    <div class="navItem">When</div>
                    <div class="navItem">Where</div>
                    <div class="navItem">What</div>
                </div> --> <!-- navBar -->

                <!-- <div id="showNavBar" class="centered">x</div> -->

            <!-- </div> --> <!-- navSet -->
            <!-- <div class="footer">#ammar4sara</div> -->
        </div>

        <script src="js.js"></script>
    </body>
</html>

