
@font-face {
  font-family: 'MyWebFont';
  src: url(fonts/FrenteH1-Regular.otf) format('opentype'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	padding: 0% 3%;
	/*margin-right: 10%;*/
}

.hidden {overflow:hidden;}
.block { display:block;}
.inline-block { display:inline-block;vertical-align: middle;}
.top-padding{padding-top: 5%;}
.bottom-padding{padding-bottom: 5%;}

img {
	max-height: 50%;
	/*max-width: 100%;*/
}

#navSet {
	cursor: pointer;
}
#navBar {
	width: 30%;
	display: block;
	/*font*/
	/*color*/
}

#showNavBar {
	display: none; /* initially hidden */
	width: 30%;
}

#welcomeBanner {
	max-height: 15%;
	display: block;
	width: 30%;
}
#welcomeMessage{
	vertical-align: top;
	text-align: center;
	/*width: 1 50px;*/
	/*font*/
	/*color*/	
}

.mine{
	display: inline-block;
	background: url(img/pattern_left.png);
	background-repeat: no-repeat;
	height: 50%;
	width: 13%;
	text-align: top;
}

.navItem {
	display: inline-block;
	/*position: absolute;*/
	/*top: 100px;*/
	width: 70%;
	height: 50%;
	border: 0.1em dashed #DDBBDD;
	padding: 0.1em 0.1em 0.1em 0.1em;
	vertical-align: top;
}

.parallaxSet{
	width: 30%;
}

.plaxItem {
	/*position: relative;*/
	/*display: block;*/
	height: 10%;
	width: 50%;
	border: 0.1em dashed #DDBBDD;
	/*padding: 1em 0.1em 1em 0.1em;*/
	margin: 0em 0.1em 6em 0.1em;
	background: url(img/marker.png);
	background-repeat: no-repeat;
	font-family: 'MyWebFont', Fallback, sans-serif;
	font-size: xx-large;
}

.item1 {
	top: 30px;
	position: absolute;
}

.item2 {
	top: 120px;
	position: absolute;
	background-color: #e06;
}
.footer { padding: 2em 0em 2em 0em; text-align:center;}

